[submodule "packages/maxframe"]
	path = packages/maxframe
	url = https://github.com/rmm5t/maxframe.el.git
[submodule "packages/textmate"]
	path = packages/textmate
	url = https://github.com/emacsmirror/textmate.git
[submodule "packages/yaml-mode"]
	path = packages/yaml-mode
	url = https://github.com/emacsmirror/yaml-mode.git
[submodule "packages/haml-mode"]
	path = packages/haml-mode
	url = https://github.com/emacsmirror/haml-mode.git
[submodule "packages/coffee-mode"]
	path = packages/coffee-mode
	url = https://github.com/emacsmirror/coffee-mode.git
[submodule "installers/auto-complete"]
	path = installers/auto-complete
	url = https://github.com/emacsmirror/auto-complete
[submodule "packages/ruby-block"]
	path = packages/ruby-block
	url = https://github.com/emacsmirror/ruby-block.git
[submodule "packages/autopair"]
	path = packages/autopair
	url = https://github.com/emacsmirror/autopair.git
[submodule "packages/rvm"]
	path = packages/rvm
	url = https://github.com/habib/rvm.el.git
[submodule "packages/ruby-compilation"]
	path = packages/ruby-compilation
	url = https://github.com/emacsmirror/ruby-compilation.git
[submodule "packages/emacs-rails"]
	path = packages/emacs-rails
	url = https://github.com/remvee/emacs-rails.git
[submodule "packages/rainbow-mode"]
	path = packages/rainbow-mode
	url = https://github.com/emacsmirror/rainbow-mode.git
[submodule "packages/writegood-mode"]
	path = packages/writegood-mode
	url = https://github.com/emacsmirror/writegood-mode.git
[submodule "packages/sass-mode"]
	path = packages/sass-mode
	url = https://github.com/emacsmirror/sass-mode.git
[submodule "packages/yasnippet"]
	path = packages/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "packages/full-ack"]
	path = packages/full-ack
	url = https://github.com/emacsmirror/full-ack.git
[submodule "packages/ruby-electric"]
	path = packages/ruby-electric
	url = https://github.com/emacsmirror/ruby-electric.git
[submodule "packages/rhtml"]
	path = packages/rhtml
	url = https://github.com/emacsmirror/rhtml.git
[submodule "packages/yaml-path"]
	path = packages/yaml-path
	url = https://github.com/emacsmirror/yaml-path.git
[submodule "packages/rspec-mode"]
	path = packages/rspec-mode
	url = https://github.com/emacsmirror/rspec-mode.git
[submodule "packages/shoulda-mode"]
	path = packages/shoulda-mode
	url = https://github.com/pezra/shoulda-mode.git
[submodule "packages/feature-mode"]
	path = packages/feature-mode
	url = https://github.com/michaelklishin/cucumber.el.git
[submodule "packages/android-mode"]
	path = packages/android-mode
	url = https://github.com/emacsmirror/android-mode.git
