[submodule "packages/maxframe"]
	path = packages/maxframe
	url = https://github.com/rmm5t/maxframe.el.git
[submodule "packages/textmate"]
	path = packages/textmate
	url = https://github.com/emacsmirror/textmate.git
[submodule "packages/yaml-mode"]
	path = packages/yaml-mode
	url = https://github.com/emacsmirror/yaml-mode.git
[submodule "packages/haml-mode"]
	path = packages/haml-mode
	url = https://github.com/emacsmirror/haml-mode.git
[submodule "packages/coffee-mode"]
	path = packages/coffee-mode
	url = https://github.com/emacsmirror/coffee-mode.git
[submodule "packages/auto-complete"]
	path = packages/auto-complete
	url = https://github.com/emacsmirror/auto-complete
[submodule "packages/ruby-block"]
	path = packages/ruby-block
	url = https://github.com/emacsmirror/ruby-block.git
[submodule "packages/rvm"]
	path = packages/rvm
	url = https://github.com/habib/rvm.el.git
[submodule "packages/writegood-mode"]
	path = packages/writegood-mode
	url = https://github.com/emacsmirror/writegood-mode.git
[submodule "packages/sass-mode"]
	path = packages/sass-mode
	url = https://github.com/emacsmirror/sass-mode.git
[submodule "packages/yasnippet"]
	path = packages/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "packages/ruby-electric"]
	path = packages/ruby-electric
	url = https://github.com/emacsmirror/ruby-electric.git
[submodule "packages/rhtml"]
	path = packages/rhtml
	url = https://github.com/emacsmirror/rhtml.git
[submodule "packages/yaml-path"]
	path = packages/yaml-path
	url = https://github.com/emacsmirror/yaml-path.git
[submodule "packages/rspec-mode"]
	path = packages/rspec-mode
	url = https://github.com/emacsmirror/rspec-mode.git
[submodule "packages/shoulda-mode"]
	path = packages/shoulda-mode
	url = https://github.com/pezra/shoulda-mode.git
[submodule "packages/feature-mode"]
	path = packages/feature-mode
	url = https://github.com/michaelklishin/cucumber.el.git
[submodule "packages/android-mode"]
	path = packages/android-mode
	url = https://github.com/emacsmirror/android-mode.git
[submodule "packages/clojure-mode"]
	path = packages/clojure-mode
	url = https://github.com/emacsmirror/clojure-mode.git
[submodule "packages/paredit"]
	path = packages/paredit
	url = https://github.com/emacsmirror/paredit.git
[submodule "packages/rainbow-mode"]
	path = packages/rainbow-mode
	url = https://github.com/emacsmirror/rainbow-mode.git
[submodule "packages/popup"]
	path = packages/popup
	url = https://github.com/emacsmirror/popup.git
[submodule "packages/fuzzy-el"]
	path = packages/fuzzy-el
	url = https://github.com/auto-complete/fuzzy-el.git
[submodule "packages/nrepl"]
	path = packages/nrepl
	url = https://github.com/emacsmirror/nrepl.git
[submodule "packages/rainbow-delimiters"]
	path = packages/rainbow-delimiters
	url = https://github.com/emacsmirror/rainbow-delimiters.git
[submodule "packages/yari"]
	path = packages/yari
	url = https://github.com/emacsmirror/yari.git
[submodule "packages/ruby-tools"]
	path = packages/ruby-tools
	url = https://github.com/emacsmirror/ruby-tools.git
[submodule "packages/el-expectations"]
	path = packages/el-expectations
	url = https://github.com/emacsmirror/el-expectations.git
[submodule "packages/el-mock"]
	path = packages/el-mock
	url = https://github.com/emacsmirror/el-mock.git
[submodule "packages/expand-region"]
	path = packages/expand-region
	url = https://github.com/emacsmirror/expand-region.git
[submodule "packages/volatile-highlights"]
	path = packages/volatile-highlights
	url = https://github.com/emacsmirror/volatile-highlights.git
[submodule "packages/ack-and-a-half"]
	path = packages/ack-and-a-half
	url = https://github.com/emacsmirror/ack-and-a-half.git
[submodule "packages/rinari"]
	path = packages/rinari
	url = https://github.com/eschulte/rinari.git
[submodule "packages/jump"]
	path = packages/jump
	url = https://github.com/emacsmirror/jump.git
[submodule "packages/espuds"]
	path = packages/espuds
	url = https://github.com/emacsmirror/espuds.git
[submodule "packages/elunit"]
	path = packages/elunit
	url = https://github.com/emacsattic/elunit.git
[submodule "packages/python-mode"]
	path = packages/python-mode
	url = https://github.com/emacsmirror/python-mode.git
[submodule "packages/python-pep8"]
	path = packages/python-pep8
	url = https://github.com/emacsmirror/python-pep8.git
[submodule "packages/python-pylint"]
	path = packages/python-pylint
	url = https://github.com/emacsmirror/python-pylint.git
[submodule "packages/sml-mode"]
	path = packages/sml-mode
	url = https://github.com/emacsmirror/sml-mode.git
[submodule "packages/ruby-compilation"]
	path = packages/ruby-compilation
	url = https://github.com/habib/ruby-compilation.git
[submodule "packages/scala-mode2"]
	path = packages/scala-mode2
	url = https://github.com/hvesalai/scala-mode2.git
[submodule "packages/findr"]
	path = packages/findr
	url = https://github.com/emacsmirror/findr.git
[submodule "packages/go-mode"]
	path = packages/go-mode
	url = https://github.com/dominikh/go-mode.el.git
[submodule "packages/autopair"]
	path = packages/autopair
	url = https://github.com/emacsmirror/autopair.git
[submodule "packages/powerline"]
	path = packages/powerline
	url = https://github.com/milkypostman/powerline.git
