[submodule "packages/maxframe"]
	path = packages/maxframe
	url = https://github.com/rmm5t/maxframe.el.git
[submodule "packages/textmate"]
	path = packages/textmate
	url = https://github.com/emacsmirror/textmate.git
[submodule "packages/full-ack"]
	path = packages/full-ack
	url = https://github.com/emacsmirror/full-ack.git
[submodule "packages/yaml-mode"]
	path = packages/yaml-mode
	url = https://github.com/emacsmirror/yaml-mode.git
[submodule "packages/haml-mode"]
	path = packages/haml-mode
	url = https://github.com/emacsmirror/haml-mode.git
[submodule "packages/rvm"]
	path = packages/rvm
	url = https://github.com/emacsmirror/rvm.git
