*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
elpa
el-get
semanticdb
url
ede-projects.el
.DS_Store
custom.el
places
.smex-items
savefile/
packages/auto-complete/*
ac-comphist.dat
abbrev_defs
ac-dict
tramp
.\#*
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
packages/*/*.elc
nrepl-history
projectile-bookmarks.eld
ido.hist